/* Reset de estilos e configurações globais */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }
  
:root {
    --bg-color: #292929;
    --second-bg-color: #292929;
    --text-color: rgba(250, 255, 247, 0.904);
    --main-color: rgba(101, 199, 255, 0.74);
}
  

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
  
  /* Header com Navbar */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 3%; /* Ajuste o padding para um espaço mais adequado */
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
  
.logo span {
    color: var(--main-color);
    font-family: 'Audiowide', sans-serif;
    font-size: 3rem; 
    font-weight: 80;
    transition: transform 0.3s ease, color 0.3s ease;
}
  
.logo span:hover {
    transform: scale(1.1);
    color: rgb(224, 224, 224);
}
  
  /* Navbar */

nav {
    display: flex;
    padding: 0 2%; /* Ajuste o padding para dar espaço nas laterais */
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center;
    flex-grow: 1;
}
  .navbar ul {
    display: flex;
    list-style: none; /* Remove os marcadores de lista */
}
  
.navbar ul li {
    display: inline-block;
    padding: 8px 15px; /* Ajuste o padding para dar espaçamento adequado */
    position: relative;
}
  
.navbar a {
    font-size: 1.6rem; /* Ajuste o tamanho da fonte para uma melhor legibilidade */
    color: var(--text-color);
    margin: 0 1.5rem; /* Ajuste a margem lateral para um espaçamento agradável */
    font-weight: 400;
    text-transform: uppercase; /* Torna os textos em caixa alta para um visual mais moderno */
    transition: 0.3s ease;
    text-decoration: none; /* Remove o sublinhado padrão */
}
  
.navbar a:hover {
    color: var(--main-color); /* Muda a cor ao passar o mouse */
    text-decoration: none; /* Garante que o texto não fique sublinhado ao passar o mouse */
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: var(--main-color);
    display: block;
    margin: auto;
    transition: width 0.3s ease; /* Transição suave para a largura da linha */
}

.navbar ul li:hover::after {
    width: 100%; /* Expande a linha para 100% no hover */
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none; 
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101; /* Garante sobreposição correta */
  }
  
  /* Estilo para o ícone de fechar */
#close-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none; /* Esconde o ícone inicialmente */
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 101; /* Sobrepõe corretamente */
  }
  
  /* Exibe o menu ao ativar */
.navbar.active {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(69, 69, 73, 0.13);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh; /* Ajuste conforme necessário */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.164), var(--second-bg-color)), url('image2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.journey-content {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  z-index: 1;
}

  
.journey-content h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 7rem; /* Ajuste o tamanho do título */
    color: rgba(101, 199, 255, 0.774);
    margin: 0;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.5s ease;
}

.heading{
  text-align: center;
  margin: 5rem 0;
}

.experience {
  padding: 100px 15px;
  margin-top: -350px; /* Ajuste o valor conforme necessário */
  background: var(--second-bg-color);
}

.experience h2{
  font-size: 3rem;
  margin-top: -40px; /* Ajusta a posição do título, diminuindo o espaço acima */
  margin-bottom: 2rem; /* Ajusta o espaço abaixo do título */
  background-color: var(--second-bg-color);
}

.timeline-items{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

/* Estilo da linha da timeline */
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px; /* Linha mais fina */
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Cor mais suave para a linha */
  left: calc(50% - 1px);
}

.timeline-item {
  margin-bottom: 30px; /* Menos espaçamento entre os itens */
  width: 100%;
  position: relative;
}

.timeline-item:last-child{
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 15px); /* Menos espaçamento */
  text-align: right;
}

.timeline-item:nth-child(even) {
  padding-left: calc(50% + 15px); /* Menos espaçamento */
}

/* Estilo dos pontos da timeline */
.timeline-dot {
  height: 16px; /* Menor tamanho para o ponto */
  width: 16px; /* Ajustando o tamanho do ponto */
  background-color: var(--main-color); /* Cor mais suave */
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombras suaves no ponto */
}

/* Melhorando o visual da data da timeline */
.timeline-date {
  font-size: 16px; /* Menor tamanho de fonte */
  font-weight: 500; /* Peso mais leve */
  color: rgba(255, 255, 255, 0.7); /* Cor mais suave para a data */
  margin: 6px 0 10px; /* Menos margem */
}

.timeline-content {
  background-color: var(--second-bg-color); /* Cor de fundo mais suave */
  border: 2px solid var(--main-color); /* Reduzindo a espessura da borda */
  padding: 20px 30px; /* Menos padding para caixas mais compactas */
  border-radius: 2rem; /* Bordas mais suaves */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombras suaves para dar uma sensação de leveza */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-content:hover {
  transform: scale(1.02); /* Reduzido o efeito de aumento para um toque mais sutil */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombras mais suaves no hover */
}

.timeline-content h3 {
  font-size: 18px; /* Fontes menores para um visual mais clean */
  color: var(--text-color); /* Cor mais suave */
  margin: 0 0 12px; /* Menos espaço abaixo */
  font-weight: 400; /* Peso da fonte mais leve */
}

/* Estilo do texto dentro da timeline-content */
.timeline-content p {
  color: var(--text-color); /* Cor de texto mais suave */
  font-size: 14px; /* Fonte menor */
  font-weight: 300; /* Peso da fonte mais leve */
  line-height: 1.6; /* Mais espaçamento entre as linhas para melhorar a leitura */
}


.education {
  padding: 100px 15px;
  margin-top: 150px;
  margin-bottom: 100px;
  background: var(--second-bg-color);
}

.education h2{
  font-size: 3rem;
  margin-top: -150px; /* Ajusta a posição do título, diminuindo o espaço acima */
  margin-bottom: 2rem; /* Ajusta o espaço abaixo do título */
  background-color: var(--second-bg-color);
}

/* Contêiner principal da timeline horizontal */
.horizontal-timeline-items {
  display: flex;
  background-color: var(--second-bg-color);
  justify-content: space-between; /* Espaço igual entre os itens */
  align-items: center;
  flex-wrap: nowrap; /* Mantém os itens na mesma linha */
  max-width: 100%;
  margin: auto;
  padding: 20px 15px;
  overflow-x: auto; /* Adiciona rolagem horizontal caso os itens ultrapassem a tela */
  position: relative;
}



/* Linha da timeline horizontal */
.horizontal-timeline-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Linha mais fina */
  background-color: rgba(255, 255, 255, 0.5); /* Cor suave */
  top: 50%;
  left: 0;
}

/* Estilo do item da timeline horizontal */
.horizontal-timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinha os itens no centro */
  position: relative;
  text-align: center;
  width: 30%; /* Largura menor para cada item */
  margin: 0 20px; /* Espaço entre os itens */
}

/* Estilo dos pontos na timeline horizontal */
.horizontal-timeline-dot {
  height: 16px; /* Ponto menor */
  width: 16px; /* Ponto menor */
  background-color: var(--main-color); /* Cor do ponto */
  border-radius: 50%; /* Ponto redondo */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombras suaves no ponto */
  margin-bottom: 10px; /* Espaço abaixo do ponto */
}

/* Estilo da data na timeline horizontal */
.horizontal-timeline-date {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  margin: 5px 0 10px; /* Menos margem */
}

/* Estilo do conteúdo na timeline horizontal */
.horizontal-timeline-content {
  background-color: var(--second-bg-color); /* Cor suave para o fundo */
  border: 2px solid var(--main-color); /* Borda sutil */
  padding: 15px 25px;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover no conteúdo da timeline horizontal */
.horizontal-timeline-content:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombras mais suaves no hover */
}

/* Estilo do título dentro do conteúdo na timeline horizontal */
.horizontal-timeline-content h3 {
  font-size: 18px;
  color: var(--text-color);
  margin: 0 0 12px;
  font-weight: 400; /* Fonte mais leve */
}

/* Estilo do parágrafo dentro do conteúdo na timeline horizontal */
.horizontal-timeline-content p {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.6;
}


@media (max-width: 768px) {
    .navbar {
      display: none; /* Esconde o menu padrão inicialmente */
      flex-direction: column; /* Alinha os itens verticalmente */
    }
  
    #menu-icon {
      display: block; /* Mostra o ícone de menu */
    }
  
    .navbar.active {
      display: flex; /* Mostra o menu quando ativo */
      position: absolute;
      top: 0;
      right: 0;
      background-color: rgba(34, 34, 36, 0.9); /* Fundo mais escuro e opaco */
      width: 70%; /* O menu ocupará 70% da largura da tela */
      height: 100vh; /* Ocupa toda a altura */
      flex-direction: column;
      align-items: center;
      z-index: 100; /* Fica acima de outros elementos */
      padding-top: 60px; /* Espaço para o ícone de fechar */
    }
  
    .navbar ul {
      flex-direction: column; /* Alinha itens verticalmente */
      width: 100%;
      text-align: center;
      padding: 0;
    }
  
    .navbar ul li {
      margin: 20px 0; /* Espaçamento entre itens */
      width: 100%;
    }
  
    .navbar ul li a {
      display: block;
      padding: 15px 0;
      color: white; /* Cor do texto, pode ser ajustada */
      font-size: 1.6rem;
      text-decoration: none;
      width: 100%;
    }
  
    /* Estilo do ícone de fechar (X) */
    #close-icon {
      display: none; /* Inicialmente escondido */
    }
  
    .navbar.active + #close-icon {
      display: block; /* Mostra o ícone quando o menu está ativo */
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 3.6rem;
      color: var(--main-color);
      cursor: pointer;
    }
  
    /* Home Section */
    .home-content h1 {
      font-size: 4rem; /* Reduz o tamanho do título */
      margin-top: -3rem; /* Ajusta a margem superior */
    }
    
    .role-animation {
      height: 3rem; /* Ajusta a altura do container */
    }
  
    .role-text {
      font-size: 2rem; /* Reduz o tamanho do texto */
    }

    .horizontal-timeline-items {
      flex-direction: column; /* Alinha os itens da timeline na vertical */
      padding: 0; /* Remove o padding lateral */
      justify-content: center; /* Centraliza os itens verticalmente */
      align-items: center; /* Centraliza os itens */
      overflow-x: visible; /* Remove a rolagem horizontal */
    }
  
    .horizontal-timeline-item {
      width: 80%; /* Ajusta a largura para ser maior em telas pequenas */
      margin: 10px 0; /* Adiciona um pequeno espaço entre os itens */
    }

    .horizontal-timeline-items::before {
      display: none; /* Remove a linha da timeline na versão mobile */
    }
    
    .horizontal-timeline-dot {
      margin-bottom: 10px; /* Ajusta o espaçamento do ponto */
    }
  
    .horizontal-timeline-content {
      width: 100%; /* Ajusta o conteúdo para ocupar toda a largura */
      padding: 15px 20px; /* Ajusta o padding para dar mais espaço */
    }

}
  
  